doctype html
html
    head
        //title= title
        title Exam Record Query and Management System
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            window.onload = function () {
                window.setTimeout(function () {
                    window.location = '/login';
                }, 2200);
            };
    body
        //h1= title
        //p Welcome to #{title}
        h1 Exam Record Query and Management System
        p Welcome to ERQM System, you will be send to login page within 3 seconds.